################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Middleware/.vs/Middleware/v17
/Middleware/.vs/Middleware/FileContentIndex
